

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    background-color: #4aaaa5; 
    color: #ffffff;
    width: 220px; height: 80px;
    border: 2px solid #cccccc;
    text-align: center;
    padding-top: 12px;   
}

.nav-item {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;   
}

.nav-item a:hover {
    color: red;
}

.nav-item a:focus {
    color: black;
}

a {color: #cccccc;}
a:link {text-decoration: none; padding: 7px;}

.background {
    background-attachment: fixed;
    width: 100%; 
    min-height: 100%;
    position: absolute;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;        
}

.bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px; 
}

.footer { 
    width: 100%;
    height: 70px;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    bottom: 0;
}
